html {
  font-size: 62.5%;
}

@font-face {
  font-family: iranyekan;
  src: url("./fonts/iranyekanwebmedium.woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* ::-webkit-scrollbar {
  width: 10px;
} */

:root {
  --primaryColor: #CBF3F0;
  --secondaryColor: #2EC4B6;
  --thirdColor: #FF7D00;
  --fourthColor: #A4E8E2;
  --fiveColor: #00509D;
  --hoverColor: #004c56;
  --bodyColor: #F9FEFE;
  --mainWhite: #FFFFFF;
  --mainBlack: #0C0C0C;
  --mainGray: #BDC6D1;
  --boxShadow: box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

body {
  color: var(--mainBlack);
  background-color: var(--bodyColor);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  letter-spacing: 0.1rem;
}

/** Header Style */

header {
  background-color: var(--primaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.header-container {
  height: 100%;
  width: 100%;
  max-width: 1370px;
  padding: 1.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header-title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: var(--fiveColor);
}

form {
  position: relative;
}

.search-input {
  padding: 7px;
  width: 25rem;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid var(--thirdColor);
  border-radius: 7px;
  outline: none;
  box-shadow: var(--boxShadow);
}

form button {
  position: absolute;
  right: 0;
  width: 15%;
  height: 100%;
  cursor: pointer;
  background: none;
  border: 1px solid var(--thirdColor);
  border-radius: 0 7px 7px 0;
}

.bi-search {
  font-size: 1.5rem;
}

.filter-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem 0;
  width: 25rem;
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  width: 9rem;
  text-align: center;
  padding: 7px;
  font-size: 1.4rem;
  color: var(--fiveColor);
  background-color: var(--mainWhite);
  border: 1px solid var(--fiveColor);
  border-radius: 5px;
  transition: all 0.2s linear;
}

.btn:hover {
  background-color: var(--hoverColor);
  color: var(--mainWhite);
}

/*? Responsive */

@media screen and (min-width: 768px) {
  .header-container {
    padding: 1.5rem 7rem;
  }

  .search-input {
    width: 35rem;
  }

  .filter-box {
    justify-content: space-around;
    width: 80%;
    margin-top: 0;
  }

  .header-title {
    margin-bottom: 0;
    font-size: 2.5rem;
  }
}


/** Main Style  */

main {
  max-width: 1370px;
  margin: 0 auto;
}

main h4 {
  margin: 3rem 0;
  text-align: center;
  font-size: 2rem;
}

.product-container {
  padding: 1.5rem 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--mainWhite);
  border: 1px solid var(--mainGray);
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.img-container {
  min-width: 100%;
  height: 200px;
}

.product-img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.product-desc {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.product-desc p {
  font-size: 1.4rem;
}

.product-title {
  margin-bottom: 1rem;
}

.add-to-cart {
  margin-bottom: 1.5rem;
  width: 200px;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: var(--secondaryColor);
}



/*? Responsive */

@media screen and (min-width: 768px) {
  .product-container {
    padding: 1.5rem 7rem;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}